.footerMain {
  /* background-color: orange; */
  padding: 2px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.footerContent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
}
