.activeStyle {
  background-image: url("https://images.unsplash.com/photo-1618507763251-9ea0a27ef29e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGVhZiUyMGNsb3NlJTIwdXB8ZW58MHx8MHx8&w=1000&q=80");
  background-color: lightgreen;
  background-size: 12rem 12rem;
  width: 12rem;
  height: 12rem;
  padding: 2px;
  margin: 20px 15px;
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 5px;
  position: relative;
}
.doneStyle {
  background-image: url("https://www.nature-and-garden.com/wp-content/uploads/sites/4/2021/11/trees-with-yellow-leaves.jpg");
  background-color: lightgreen;
  background-size: 12rem 12rem;
  width: 12rem;
  height: 12rem;
  padding: 2px;
  margin: 20px 15px;
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 5px;
  position: relative;
}
.leafTitle {
  font-family: "Patrick Hand", cursive;
  padding: 2px;
  color: black;
  font-size: 1.75rem;
}
.leafContent {
  padding: 2px;
  font-family: "Patrick Hand", cursive;
  overflow: hidden;
  color: white;
  font-size: 1.17rem;
}
.checkBox {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
}
.newLeafTitle {
  background-color: transparent;
  text-align: center;
  width: 10rem;
  margin: 2px auto;
  border: none;
}
.newLeafContent {
  background-color: transparent;
  width: 10rem;
  height: 7rem;
  margin: 2px auto;
  border: none;
  resize: none;
}
.addNewBtn {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.addNewBtn:hover {
  background-color: white;
  color: black;
}
