.leafMain {
  background-image: url("https://images.unsplash.com/photo-1618507763251-9ea0a27ef29e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGVhZiUyMGNsb3NlJTIwdXB8ZW58MHx8MHx8&w=1000&q=80");
  background-color: lightgreen;
  width: 12rem;
  height: 12rem;
  padding: 2px;
  margin: 20px 15px;
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 5px;
}
.leafTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
}
.leafContent {
  padding: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  color: white;
}
